<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>store acp</title>
   <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
   <header class="header">
      <div class="container header_container">
         <div class="header_inner">
            <div class="header_leftside">
               <a class="logo" href="/">
                  <img src="/images/logo.png" alt="logo">
               </a>
            </div>
            <div class="header_middleside">
            </div>
            <div class="header_rightside">
               <div class="auth">
                  <div class="logout">
                     <button type="button" class="btn logout_btn-logout">logout</button>
                   </div>
                   <div class="signing">
                     <button type="button" class=" btn signing_btn-login">login</button>
                     <button type="button" class=" btn signing_btn-reg">register</button>
                     
                     <div class="form_outer">
                       <div class="userForm_outer userFormLogin_outer">
                         <form name="userFormLogin" class="userForm">
                           <input class="userForm_userName" type="text" name="userForm_login" placeholder="your login">
                           <input class="userForm_userName" type="password" name="userForm_pwd" placeholder="your pwd">
                           <button class=" btn userForm_btn" name="userForm" type="submit">login</button>
                           <div class="error-outer"></div>
                     </form>
                       </div>
                       
                       <div class="userForm_outer userFormReg_outer">
                         <form name="userFormReg" class="userForm">
                           <input class="userForm_userName" required type="text" name="userForm_login" placeholder="your login">
                           <input class="userForm_userName" required type="password" name="userForm_pwd" placeholder="your pwd">
                           <input class="userForm_userName" required type="text" name="userForm_name" placeholder="your name">
                           <button class=" btn userForm_btn" name="userForm" type="submit">register</button>
                           <div class="error-outer"></div>
                     </form>
                       </div>
                     </div>
                   </div>
               </div>
            </div>
         </div>
      </div>
   </header>

   <main class="acp_main">
      <div class="item_outer outer">
         <div class="formItem_outer subouter">
            <h2 class="formItem_header acp_title">Add item to database</h2>
            <div class="formItem_inner inner">
               <form class="form formItem" name="formItem">
                  <select class="field selectItemCategories" name="categories" size="5" multiple="multiple" required>
                     <option disabled>select categories: ctrl + click</option>
                  </select>
                  <input class="acp_input field" type="text" name="name" placeholder="name of item" required>
                  <input class="acp_input field" type="text" name="description" placeholder="description of item">
                  <input class="acp_input field" type="text" name="price" placeholder="price of item" required>
                  <input class="acp_input field inpPic" accept="image/*" type="file" name="picture" required>
         
                  <div class="field formItem_spec-outer">
                     <h3>add spec to item</h3>
                     <input class="acp_input inpItemSpecName" type="text" placeholder="spec name of item">
                     <button class="btn formItem_btn-spec-add btn-spec-add" type="button">add</button>
                     <div class="formItem_spec-inner"></div>
                  </div>
                  <button class="btn formItem_btn-submit" type="submit">send</button>
                  <button class="btn formItem_version-add" type="button">add version</button>
               </form>
            </div>
         </div>
         
         <div class="formItemVersion_outer subouter">
            <h2 class="formItem_header acp_title">Add version of item</h2>
            <div class="formItem_inner inner">
               <form class="form formItemVersion" name="formItemVersion">
                  <select class="field selectItemCategories" name="categories" size="5" multiple="multiple" required></select>
                  <input class="acp_input field" type="text" name="name" placeholder="name of item" required>
                  <input class="acp_input field" type="text" name="description" placeholder="description of item">
                  <input class="acp_input field" type="text" name="price" placeholder="price of item" required>
                  <input class="acp_input field inpPic" accept="image/*" type="file" name="picture" required>
         
                  <div class="field formItem_spec-outer">
                     <h3>add spec to item</h3>
                     <input class="acp_input inpItemSpecName" type="text" placeholder="spec name of item">
                     <button class="btn formItemVersion_btn-spec-add btn-spec-add" type="button">add</button>
                     <div class="formItem_spec-inner"></div>
                  </div>
                  <button class="btn formItem_btn-submit" type="submit">send</button>
               </form>
            </div>
         </div>
      </div>
   
      <div class="categorie_outer">
         <div class="subouter">
            <h2 class="categorie_header acp_title">Add categorie to database</h2>
            <form class="form" name="formCategorie">
               <input class="acp_input field" type="text" name="name" placeholder="name of categorie"> 
               <button class="btn formCategorie_btn-submit" type="submit">send</button>
            </form>
         </div>
      </div>
   </main>
	<script src="javascripts/browserAcp.js"></script>
</body>
</html>